{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header hidden-xs hidden-sm">
    <h1 class="site-title">
        <a href="/">{{@blog.title}}</a>
    </h1>
    <div id="social-links">
        <ul>
            <li>
                <a href="http://github.com/bengray">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/bgray">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="http://instagram.com/bendoylegray">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="/rss">
                    <i class="fa fa-rss-square fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-4">
            {{> "site-nav"}}
        </div>

{{!-- This bit here is the welcome message on the front page --}}
        <div class="welcome-note col-8">
            <span>Hi, I'm Ben Gray.</span> Software engineer by day, outdoorsman by night (and weekends).
            I use this online space as an journal where I write about my experiences with web programming, the outdoors,
            and pretty much anything else that comes to mind. <a href="/about">More about me </a>&rarr;
        </div>
    </div>

</header>

{{> "mobile-header"}}

{{!-- The main content area --}}
<main id="site-main" class="site-main" role="main">
    <div class="row">
        <div class="post-feed col-11 col-md-6 margin-xs-horizontal-sm">
            <h3 class="section-header">Journal</h3>

            {{#get "posts" limit="7" as |recents|}}
                <ul id="recent-posts-list">
                    {{#foreach recents}}
                        {{> "post-card"}}
                    {{/foreach}}
                </ul>
            {{/get}}

            <div class="margin-vertical-md">
                <a href="/archive-post">View Full Archive &rarr;</a>
            </div>
        </div>

        <div class="col-11 col-sm-6 col-lg-4 margin-xs-horizontal-sm">
            <h3 class="section-header">Quick Links</h3>
            <script language="javascript" src="https://pinboard.in//widgets/v1/linkroll/?user=bgray&count=14"></script>
            <div>
                <a href="https://pinboard.in/u:bgray/" target="_blank">All links</a> &rarr;
            </div>
        </div>

        <div class="col-11 col-sm-6 hidden-md col-lg-2 margin-xs-horizontal-sm">
           {{> "tag-list"}}
        </div>
    </div>
</main>
