{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<header class="margin-vertical-lg col-4 padding-collapse-left">
    <h1 class="site-title">
        <a href="/">{{@blog.title}}</a>
    </h1>
    {{> "site-nav"}}
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main col-8 col-sm-6 padding-collapse-right" role="main">
    <header class="archive-full-header">
        <h2 class="archive-full-title">Full Site Archive</h2>
    </header>
    <div class="post-feed">
        {{#get "posts" limit="all"}}
            {{#foreach posts}}
                <span class="archive-post">
                    {{date published_at format="MMM DD, YYYY"}}:&nbsp;
                    <a href="{{url}}">{{title}} </a>
                </span>
                <br>
            {{/foreach}}
        {{/get}}
    </div>

</main>
<div class="col-2 hidden-xs">
    {{> "tag-list"}}
    {{> "recent-posts"}}
</div>
